In [1]:
from bs4 import BeautifulSoup
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [47]:
#covid=pd.read_csv('C:\\Users\inter\Downloads\COVID-2019 - ECDC (2020).csv')#,encoding='cp949')
#covid=pd.read_csv('C:\\Users\inter\Downloads\owid-covid-data.csv',encoding='cp949')
covid=pd.read_csv('C:\\Users\inter\Downloads\WHO-COVID-19-global-data.csv')

In [48]:
covid.head()
#covid['Country Name'].unique()

,day,Country,Country Name,Region,Deaths,Cumulative Deaths,Confirmed,Cumulative Confirmed
0,2020-02-24,AF,Afghanistan,EMRO,0,0,1,1
1,2020-02-25,AF,Afghanistan,EMRO,0,0,0,1
2,2020-02-26,AF,Afghanistan,EMRO,0,0,0,1
3,2020-02-27,AF,Afghanistan,EMRO,0,0,0,1
4,2020-02-28,AF,Afghanistan,EMRO,0,0,0,1

In [58]:
confirmed=pd.read_csv('C:\\Users\\inter\\Downloads\\time_series_covid19_confirmed_global - time_series_covid19_confirmed_global.csv')
deaths=pd.read_csv('C:\\Users\\inter\\Downloads\\time_series_covid19_deaths_global.csv')
recovered=pd.read_csv('C:\\Users\\inter\\Downloads\\time_series_covid19_recovered_global.csv')

#confirmed.head()
#deaths.head()
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/16/20,5/17/20,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,745,778,801,850,930,938,996,1040,1075,1097
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,714,715,727,742,758,771,777,783,789,795
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,3409,3507,3625,3746,3968,4062,4256,4426,4784,4747
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,615,617,624,628,639,639,652,653,653,663
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,17,17,17,17,17,17,17,18,18,18

In [27]:
#covid[covid['Country Name']=='Myanmar']

,day,Country,Country Name,Region,Deaths,Cumulative Deaths,Confirmed,Cumulative Confirmed
9976,2020-03-24,MM,Myanmar,SEARO,0,0,2,2
9977,2020-03-25,MM,Myanmar,SEARO,0,0,1,3
9978,2020-03-26,MM,Myanmar,SEARO,0,0,0,3
9979,2020-03-27,MM,Myanmar,SEARO,0,0,2,5
9980,2020-03-28,MM,Myanmar,SEARO,0,0,0,5
9981,2020-03-29,MM,Myanmar,SEARO,0,0,3,8
9982,2020-03-30,MM,Myanmar,SEARO,0,0,2,10
9983,2020-03-31,MM,Myanmar,SEARO,0,0,4,14
9984,2020-04-01,MM,Myanmar,SEARO,1,1,1,15
9985,2020-04-02,MM,Myanmar,SEARO,0,1,1,16
9986,2020-04-03,MM,Myanmar,SEARO,0,1,4,20
9987,2020-04-04,MM,Myanmar,SEARO,0,1,0,20
9988,2020-04-05,MM,Myanmar,SEARO,0,1,1,21
9989,2020-04-06,MM,Myanmar,SEARO,0,1,0,21
9990,2020-04-07,MM,Myanmar,SEARO,0,1,1,22
9991,2020-04-08,MM,Myanmar,SEARO,2,3,0,22
9992,2020-04-09,MM,Myanmar,SEARO,0,3,0,22
9993,2020-04-10,MM,Myanmar,SEARO,0,3,5,27
9994,2020-04-11,MM,Myanmar,SEARO,0,3,1,28
9995,2020-04-12,MM,Myanmar,SEARO,0,3,10,38
9996,2020-04-13,MM,Myanmar,SEARO,1,4,3,41
9997,2020-04-14,MM,Myanmar,SEARO,0,4,21,62
9998,2020-04-15,MM,Myanmar,SEARO,0,4,12,74
9999,2020-04-16,MM,Myanmar,SEARO,0,4,11,85
10000,2020-04-17,MM,Myanmar,SEARO,0,4,0,85
10001,2020-04-18,MM,Myanmar,SEARO,1,5,9,94
10002,2020-04-19,MM,Myanmar,SEARO,0,5,13,107
10003,2020-04-20,MM,Myanmar,SEARO,0,5,4,111
10004,2020-04-21,MM,Myanmar,SEARO,0,5,8,119
10005,2020-04-22,MM,Myanmar,SEARO,0,5,2,121
10006,2020-04-23,MM,Myanmar,SEARO,0,5,6,127
10007,2020-04-24,MM,Myanmar,SEARO,0,5,12,139
10008,2020-04-25,MM,Myanmar,SEARO,0,5,5,144
10009,2020-04-26,MM,Myanmar,SEARO,0,5,2,146
10010,2020-04-27,MM,Myanmar,SEARO,0,5,0,146
10011,2020-04-28,MM,Myanmar,SEARO,0,5,0,146
10012,2020-04-29,MM,Myanmar,SEARO,0,5,4,150
10013,2020-04-30,MM,Myanmar,SEARO,1,6,0,150
10014,2020-05-01,MM,Myanmar,SEARO,0,6,1,151
10015,2020-05-02,MM,Myanmar,SEARO,0,6,0,151
10016,2020-05-03,MM,Myanmar,SEARO,0,6,0,151
10017,2020-05-04,MM,Myanmar,SEARO,0,6,4,155
10018,2020-05-05,MM,Myanmar,SEARO,0,6,6,161
10019,2020-05-06,MM,Myanmar,SEARO,0,6,0,161
10020,2020-05-07,MM,Myanmar,SEARO,0,6,1,162
10021,2020-05-08,MM,Myanmar,SEARO,0,6,14,176
10022,2020-05-09,MM,Myanmar,SEARO,0,6,1,177
10023,2020-05-10,MM,Myanmar,SEARO,0,6,1,178
10024,2020-05-11,MM,Myanmar,SEARO,0,6,2,180
10025,2020-05-12,MM,Myanmar,SEARO,0,6,0,180
10026,2020-05-13,MM,Myanmar,SEARO,0,6,0,180
10027,2020-05-14,MM,Myanmar,SEARO,0,6,1,181
10028,2020-05-15,MM,Myanmar,SEARO,0,6,0,181
10029,2020-05-16,MM,Myanmar,SEARO,0,6,1,182
10030,2020-05-17,MM,Myanmar,SEARO,0,6,2,184
10031,2020-05-18,MM,Myanmar,SEARO,0,6,0,184